<app-top-bar [titulo]="titlePage"></app-top-bar>

<h1 class="title">SMARTPHONE</h1>
<div class="purchase_container grid" *ngIf="purchase">
    <div class="img_container">
        <img src={{ purchase.product.imgLink }}>
    </div>
    
    <div class="li-box">        
        <ul>
            <li>
                <P>Date of purchase:</P>
            </li>
            <li>
                <P>Payment type:</P>
            </li>
            <li>
                <P>Confirmation number:</P>
            </li>
        </ul>
    </div>

    <div class="li-box">        
        <ul>

            <li>
                <P>{{purchase.purchaseDate}}</P>
            </li>
            <li>
                <P>{{purchase.payment}}</P>
            </li>
            <li>
                <P>{{purchase.confirmationNumber}}</P>
            </li>
        </ul>
    </div>      
</div>
<hr>

<div class="info-client grid">
    <div class="subtitle">
        <ul>
            <li>
                <P>Client Name:</P>
            </li>
            <li>
                <P>Client document:</P>
            </li>
        </ul>
    </div>

    <div class="info">
        <ul>
            <li>
                <P>Raissa</P>
            </li>
            <li>
                <P>125.639.205.36</P>
            </li>
        </ul>
    </div>

    <div class="subtitle">
        <ul>
            <li>
                <P>Client email:</P>
            </li>
            <li>
                <P>Client phone:</P>
            </li>
        </ul>
    </div>

    <div class="info">
        <ul>
            <li>
                <P>raissa-sabino@hotmail.com</P>
            </li>
            <li>
                <P>41995250560</P>
            </li>
        </ul>
    </div>
    
</div>