<app-top-bar [titulo]="titlePage"></app-top-bar>
<!-- <div *ngIf="purchase">
    <div id="div1">
        <img class="detailImage" src={{purchase.product.img_link}}> 

        <button class="buttonDetail">Purchase</button>
    </div>
    <div id="div2">
        <h3>{{ purchase.product.name }}</h3>
        <h4>{{ purchase.product.price | currency }}</h4>
        <p>
            {{ purchase.product.description }}
        </p>
    </div>  
</div> -->

<h1 class="title">SMARTPHONE</h1>
<div class="purchase_container grid">
    <div class="img_container">
        <img src="assets/imgs/samsungflip.jpg" alt="">
    </div>
    
    <div class="li-box">        
        <ul>
            <li>
                <P>NF Number:</P>
            </li>
            <li>
                <P>Date of purchase:</P>
            </li>
            <li>
                <P>Purchase amount:</P>
            </li>
            <li>
                <P>Payment type:</P>
            </li>
            <li>
                <P>Confirmation number:</P>
            </li>
        </ul>
    </div>

    <div class="li-box">        
        <ul>
            <li>
                <P>123456</P>
            </li>
            <li>
                <P>05/03/2022</P>
            </li>
            <li>
                <P>1</P>
            </li>
            <li>
                <P>Credit</P>
            </li>
            <li>
                <P>654321</P>
            </li>
        </ul>
    </div>      
</div>
<hr>

<div class="info-client grid">
    <div class="subtitle">
        <ul>
            <li>
                <P>Client Name:</P>
            </li>
            <li>
                <P>Client document:</P>
            </li>
        </ul>
    </div>

    <div class="info">
        <ul>
            <li>
                <P>Raissa</P>
            </li>
            <li>
                <P>125.639.205.36</P>
            </li>
        </ul>
    </div>

    <div class="subtitle">
        <ul>
            <li>
                <P>Client email:</P>
            </li>
            <li>
                <P>Client phone:</P>
            </li>
        </ul>
    </div>

    <div class="info">
        <ul>
            <li>
                <P>raissa-sabino@hotmail.com</P>
            </li>
            <li>
                <P>41995250560</P>
            </li>
        </ul>
    </div>
    
</div>