<app-top-bar [titulo]="titlePage"></app-top-bar>
<div class="content">
    <div id="register">
       
            <h1>REGISTER PRODUCT</h1>
            <div class="input-box"> 
                <label for="name">Product's Name</label>
                <input id="name" name="name" required="required" type="text"/> 
            </div>
            <div class="input-box"> 
                <label for="name">Bar Code</label>
                <input id="bar_code" name="bar_code" required="required" type="text"/> 
            </div>
            <div class="input-box"> 
                <label for="name">Photo (link)</label>         
                <input id="photo" name="photo" required="required" type="text" />
                 <!-- <input class="form-control" type="file" id="formFile"> -->
            </div>
            <div class="input-box">
                <label for="name">Store</label>
                <select id="store" name="stores" required="required" type="text"(change)="change()">
                    <option *ngFor="let store of userStores" [value]="store.name">{{store.name}}</option>
                </select>
            </div>
            <div class="input-box">
                <label for="name">Quantity</label>
                <input id="quantity" name="Quantity" required="required" type="number" min="1"/>
            </div>
            <div class="input-box">
                <label for="name">Price</label>
                <input id="price" name="Price" required="required" type="number" min="0" step="any"/>
            </div>

            <div>
                <table>
                    <tr>
                        <td>
                            <div class="save-button"> 
                                <button (click)="registerProduct()">Register</button>
                            </div>
                        </td>
                        <td>
                            <div class="cancel-button"> 
                                <button [routerLink]="['/']">Cancel</button>
                            </div>
                        </td>
                    </tr>                                   
                </table>             
            </div>   
    </div>
</div>
