<app-top-bar [titulo]="titlePage"></app-top-bar>
<div class="content">
    <div id="register">
       
            <h1>REGISTER PRODUCT</h1>
            <div class="input-box"> 
                <label for="name">Product's Name</label>
                <input id="name" name="name" required="required" type="text"/> 
            </div>
            <div class="input-box"> 
                <label for="name">Bar Code</label>
                <input id="bar_code" name="bar_code" required="required" type="text"/> 
            </div>
            <div class="input-box"> 
                <label for="name">Photo</label>          
                 <input class="form-control" type="file" id="formFile">
               
  
                

               
            </div>

            <div>
                <table>
                    <tr>
                        <td>
                            <div class="save-button"> 
                                <button>Save Product</button>
                            </div>
                        </td>
                        <td>
                            <div class="cancel-button"> 
                                <button>Cancel</button>
                            </div>
                        </td>
                    </tr>                                   
                </table>             
            </div>
            
   
    </div>
</div>
