<header>
    <nav>      
        <a class="logo" href="/">
            <img src="assets/imgs/MARKET PLACE-white.png" alt="">  
        </a>
        <a class="a1">{{titulo}}</a>
        <input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
        <ul>
			<li><a [routerLink]="['login']">Login</a></li>
			<li><a [routerLink]="['wishList']">WishList</a></li>
			<li><a [routerLink]="['purchases']">Purchases</a></li>
			<li><a [routerLink]="['address']">Register Address</a></li>
		</ul>
    </nav>
</header>