* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
    font-size: 100%;
    list-style-type: none;
    font-family: montserrat;
}
  
  a {
    color: #ffff;
    text-decoration: none;
    font-family: montserrat;
    text-transform: uppercase;
  }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 


  .logo {
    position: absolute;
    width: 448px;
    height: 200px;
    left: -10px;
    top: -83px;  
  }
  .logo:hover{
    opacity: 0.7;
  }
  
  nav {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    height: 10vh;
    left: 0px;
    top: 0px;
    background: #990000;        
  }
  .a1{
    font-weight: 400;
    font-size: 20px;
    line-height: 80px;
    margin-left: 280px;
    color: #ffff; 
  }
  
   ul {
    float: right;
    margin-right: 0px;
  }
  li {
    display: block;
    line-height: 30px;
    margin-top: 35px;
  }
  li {
    color: #ffffff;
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 3px;
  }

  ul{
    position: fixed;
    width: 20%;
    height: 100vh;
    background: #990000;
    top: 60px;
    right: -80%;
    text-align: center;
    transition: all .5s;
  }

  .checkbtn i {
    position: absolute;
    font-size: 30px;
    color: #ffff;
    float: right;
    line-height: 80px; 
    right: 40px;
    cursor: pointer;
    display: block;
  }

  .checkbtn i:hover {
    opacity: 0.7;
  }

  #check {
    display: none; 
  }
  #check:checked ~ ul {
    right: 0;
  }

  @media only screen and (max-width: 1024px) {
    .logo {
      left: -29px;
      top: -93px;  
    }

    .a1{
      font-weight: 400;
      font-size: 18px;
      line-height: 60px;
      margin-left: 170px;
      color: #ffff; 
    }
    nav{
      height: 8vh;
      position: fixed;
    }

    li {
      color: #ffffff;
      font-size: 18px;
      padding: 7px 20px;
      border-radius: 3px;
    }
  

    ul{
      width: 40%;
      height: 100vh;
      top: 55px;
      right: -80%;
    }

    .checkbtn i {
      line-height: 58px; 
      right: 25px;
    }
  }

  @media only screen and (max-width: 450px) {
    .logo {
      width: 148px;
      height: 50px;
      left: -29px;
      top: -93px;  
    }

    .a1{
      display:none;
    }
  
    ul{
      width: 100%;
      top: 55px;
      right: -100%;
    }

    .checkbtn i {
      line-height: 58px; 
      right: 25px;
      font-size: 25px;
    }
  }

  @media only screen and (max-width: 300px) {
    .logo{
      width: 20px;
      height: 8px;
      left: -42px;
      top: -90px; 
    }
  }

 