    <div class="nav-bar">      
        <a class="logo" href="/">
            <img src="assets/imgs/MARKET PLACE-white.png" alt="">  
        </a>
        <input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
        <ul>
            <li><a [routerLink]="['/login']">Login</a></li>
        </ul>
        <ul *ngIf="isClient">
            <li><a [routerLink]="['/login']">Login</a></li>
			<li><a [routerLink]="['/wishList']">WishList</a></li>
			<li><a [routerLink]="['/purchases']">Purchases</a></li>
		</ul>
		
        <ul *ngIf="isOwner">
            <li><a [routerLink]="['/login']">Login</a></li>
			<li><a [routerLink]="['/sales']">Sales</a></li>
            <li><a [routerLink]="['/product-register']">Register Product</a></li>
            <li><a [routerLink]="['/store-register']">Register Store</a></li>
		</ul>
    </div>
