<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<header>
    <nav>
        <a class="logo" href="/">MarketPlace</a>
        <div class="btn-group dropstart ">
            <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
            </button>
            <ul class="dropdown-menu">
                <a style="color:black;" [routerLink]="['wishList']">WishList</a>
            </ul>
          </div>
       
    </nav>
</header>