<app-top-bar [titulo]="titlepage"></app-top-bar>

<!-- <div *ngIf="product">
    <div id="div1">
        <img class="detailImage" src={{product.imgLink}}> 

        <button class="buttonPurchase" (click)="makePurchase()">Purchase</button>
    </div>
    <div id="div2">
        <h3>{{ product.name }}</h3>
        <h4>{{ product.price | currency }}</h4>
        <p>
            
        </p>
    </div>  
</div>
 -->

<div class="purchase_container grid" *ngIf="product">
    <div class="img_container">
        <img src={{product.imgLink}}>
    </div>
    
    <div class="box">    
        <h1 class="title">{{ product.name }}</h1>    
        <h4 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est error iure praesentium repudiandae</h4>
        <h3 class="price">{{ product.price | currency }}</h3>

        <button class="buttonPurchase" (click)="makePurchase()">PURCHASE</button>
    </div>
