<!-- <div *ngIf="product">
    <div id="div1">
        <img class="detailImage" src={{product.imgLink}}> 

        <button class="buttonDetail" (click)="makePurchase()">Purchase</button>
    </div>
    <div id="div2">
        <h3>{{ product.name }}</h3>
        <h4>{{ product.price | currency }}</h4>
        <p>
            
        </p>
    </div>  
</div>
 -->

 <h1 class="title">SMARTPHONE</h1>
<div class="purchase_container grid">
    <div class="img_container">
        <img src="assets/imgs/samsungflip.jpg" alt="">
    </div>
    
    <div class="li-box">        
        <ul>
            <li>
                <P>NF Number:</P>
            </li>
            <li>
                <P>Date of purchase:</P>
            </li>
            <li>
                <P>Purchase amount:</P>
            </li>
            <li>
                <P>Payment type:</P>
            </li>
            <li>
                <P>Confirmation number:</P>
            </li>
        </ul>
    </div>
