<app-top-bar [titulo]="titlePage"></app-top-bar>
<div class="content">
    <div id="register">
       
            <h1>REGISTER STORE</h1>
            <div class="input-box">
                <label for="cnpj">CNPJ</label>
                <input id="cnpj" name="cnpj" required="required" type="text"/>
            </div>
            <div class="input-box"> 
                <label for="name">Store Name</label>
                <input id="name" name="name" required="required" type="text"/> 
            </div>

            <div>
                <table>
                    <tr>
                        <td>
                            <div class="save-button"> 
                                <button>Save changes</button>
                            </div>
                        </td>
                        <td>
                            <div class="cancel-button"> 
                                <button>Cancel</button>
                            </div>
                        </td>
                    </tr>                                   
                </table>             
            </div>
            
   
    </div>
</div>
