<app-top-bar [titulo]="titlePage"></app-top-bar>
<h1 class="title">PURCHASES</h1>
<div  class = "purchase">
    <div class = "purchase-product" *ngFor="let purchase of purchases" [routerLink]="['/purchase-detail', purchase.id]">
        <img src="{{purchase.product.imgLink}}">
        <div>            
            <a [title]="'purchase id ' + purchase.id + ' details'"
             class="product-name">
                {{purchase.product.name}}
            </a>
            <br>
            <div class="container-grid">
                <div class="li-box">        
                    <ul>
                        <li>
                            <P>Date of purchase:</P>
                        </li>
                        <li *ngIf="isClient">
                            <P>Store Name:</P>
                        </li>
                        <li *ngIf="!isClient">
                            <P>Client Name:</P>
                        </li>
                        <li>
                            <P>Purchase value:</P>
                        </li>
                    </ul>
                </div>
            
                <div class="li-box">        
                    <ul>
            
                        <li>
                            <P>{{purchase.purchaseDate}}</P>
                        </li>
                        <li>
                            <P>{{purchase.store.name}}</P>
                        </li>
                        <li>
                            <P>{{purchase.purchaseValue | currency}}</P>
                        </li>
                    </ul>
                </div>      
            </div>

            <!-- <div class="container-grid" *ngIf=>
                <div class="li-box">        
                    <ul>
                        <li>
                            <P>Date of purchase:</P>
                        </li>
                        <li>
                            <P>Client Name:</P>
                        </li>
                        <li>
                            <P>Purchase Amount:</P>
                        </li>
                    </ul>
                </div>
            
                <div class="li-box">        
                    <ul>
            
                        <li>
                            <P>{{purchase.purchaseDate}}</P>
                        </li>
                        <li>
                            <P>{{purchase.client.name}}</P>
                        </li>
                        <li>
                            <P>{{purchase.purchaseValue}}</P>
                        </li>
                    </ul>
                </div>      
            </div> -->
            
        </div>  
    </div>
</div> 