/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction:column;
 
 
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 80px;
  background-color: #15599c;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  margin: 0;
}

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}

.productComponent{
  min-width: 400px;
  max-width: 400px;
  border: 1px ;
  margin: 3px;
  background: white;
}
.productComponent h3 {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.productComponent a{
  margin-top: 25px;
  margin-left: 5px;
}
.productComponent p{
  margin-left: 5px;
}
.productComponent:hover{
  border: 1px solid gray;
}

.productsList{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.productImage{
  max-width: 40%;
  max-height: 40%;
}

/* Product Detail*/
.div{
}
#div1{
  float: left;
 width: 30%;

}
#div2{
  float: right;
  width: 60%;
  position: absolute;
  top: 150px;
  left:600px
}

#div2 h3{
  font-size: 2.7em;
}

#div2 h4{
  font-size: 2em;
}

#div p{
  font-size: 2em;
}
.detailImage{
  width: 300px;
  height: 300px;
  margin: 120px 20px 10px 210px;
  padding: auto;
  display: inline-block;
}

.buttonDetail{
 align-items: center;
 background-color: blueviolet;
  
}

