
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction:column;
 
 
}

router-outlet + *  {
  padding: 0 0px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}


label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

 /*app-top-bar {
  width: 100%;
  height: 70px;
  background-color: #15599c;
  padding: 16px;
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

/* app-top-bar h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  margin: 0;
} */

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}

.productComponent{
  min-width: 400px;
  max-width: 400px;
  border: 1px ;
  margin: 3px;
  background: white;
}
.productComponent h3 {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.productComponent a{
  margin-top: 25px;
  margin-left: 5px;
}
.productComponent p{
  margin-left: 5px;
}
.productComponent:hover{
  border: 1px solid gray;
}

.productsList{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.productImage{
  max-width: 40%;
  max-height: 40%;
}

/* Product Detail*/
#div1{
  float: left;
 width: 30%;

}
#div2{
  float: right;
  width: 60%;
  position: absolute;
  top: 150px;
  left:600px
}

#div2 h3{
  font-size: 2.7em;
}

#div2 h4{
  font-size: 2em;
}

#div p{
  font-size: 2em;
}
.detailImage{
  width: 300px;
  height: 300px;
  margin: 120px 20px 10px 210px;
  padding: auto;
  display: inline-block;
}

.buttonDetail{
 align-items: center;
 background-color: blueviolet;
  
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
