<app-top-bar [titulo]="titlePage"></app-top-bar>
<div class="productsList">
    <div class="productComponent" *ngFor="let product of products">      
            <div>
                <h2>
                    <img src={{product.imgLink}}>
                </h2>
                <h3>
                    <a [title]="product.name + 'details'" [routerLink]="['/product', product.id]" class="Product">
                        {{product.name}}
                    </a>
                    <br>
                    <button (click)="wishlist(product)">lista de desejos</button>
                </h3>
            </div>
    </div>
</div>