<div class="productsList">
    <div class="productComponent" *ngFor="let product of products">
        
        <h3> 
            <img src={{product.img}} class="productImage">
            <a [title]="product.name + 'details'"
            [routerLink]="['/product', product.id]" class="productName">
                {{product.name}}
            </a>
        </h3>
        <h2>
            <p>${{product.price}}</p>
        </h2>
        <h2>
            <p>
                {{product.description}}
            </p>
        </h2>
    </div>
</div>