/*RESET*/
*, *:before, *:after{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.content{
    width: 500px;
    min-height: 560px;
    margin:0px auto;
    position: relative;
    top: 80px;
}


h1{
    font-size: 48px;
    color: #990000;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: #990000;
}

p{
    margin-bottom: 15px;
}

.content p:first-child{
    margin: 0px;
}

label{
    color: #4d0d0d;
    position: relative;
}

.register-button button{
    width: 100%!important;
    background: #990000;
    padding: 10px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;
    border-radius: 5px;
    justify-content: center;
}

.register-button button:hover{
    background-color:  #af0303;
}
.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 100%!important;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #491e1e ;
}

.input-box input:hover{
    background-color: #fdffc8;
}

.input-box input:focus-visible{
    outline: 1px solid #990000;
}
.link{
    position: absolute;
    background: #F0F472;
    color: #7f7c7c;
    left: 0px;
    height: 10px;
    width: 100%!important;
    margin-top: 22px;
    padding: 3px 25px 24px 30px;
    font-size: 15px;
    text-align: center;
    border: 5.5px solid #F0F472;
    border-radius: 5px;
    justify-content: center;
}

.link button{
    font-weight: bold;
    background: #F0F472;
    padding: 4px;
    color: #FF5B00;
    border: 1px solid #FF5B00;
    margin-left: 10px;
    border-radius: 4px;
    transition: all 0.4s linear;
    align-items: center;
}

.link button:hover{
    color: #FF5B00;
    background: #f7f7f7;
    border: 1px solid #D4D925;
}

#login{
    position: absolute;
    margin-top: 30%;
    width: 88%;
    padding: 18px 6% 60px 6%;
    background: #f7f7f7;
    border: 2px solid #990000;

    border-radius: 5px;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

/*effect button login*/
#paralogin:target ~ .content #login{
    z-index: 2;
    animation-name: fadeInLeft;
    animation-delay: .1s;
}


