<app-top-bar [titulo]="titlePage"></app-top-bar>
<div class="content">
    <div id="login">
       
            <h1>LOGIN</h1>
            <p>
                <label for="nome_login">Login</label>
                <input id="nome" name="nome-login" required="required" type="text"/>
            </p>
            <p> 
                <label for="password">Password</label>
                <input id="password" name="password" required="required" type="password"/> 
            </p>

            <p> 
                <button  (click)="loginClient()">logar</button> 
            </p>
               
            <p class="link">
                Don't have an account yet?
                <a [routerLink]="['register']">Create Account</a>     
            </p>
            
        
    </div>
</div>
