<app-top-bar [titulo]="titlePage"></app-top-bar>
<div class="content">
    <div id="login">
       
            <h1>CLIENT</h1>
            <label for="radio">Login as:</label>      
            <div class="input-radio">       
                <input type="radio" name="user_type" [value]=true ngModel="isClient" (click)="change(true)"> Client
                <input type="radio" name="user_type" [value]=false ngModel="isClient" (click)="change(false)"> Owner
            </div>

            <div class="input-box">
                <label for="nome_login">Login</label>
                <input id="nome" name="nome-login" required="required" type="text"/>
            </div>
            <div class="input-box"> 
                <label for="password">Password</label>
                <input id="password" name="password" required="required" type="password"/> 
            </div>

            <div class="register-button"> 
                <button (click)="loginUser()">Log in</button>
            </div>

           
               
            <p class="link">
                Don't have an account yet?
                <button [routerLink]="['/register']">Create Account</button>     
            </p>            
    </div>
</div>
