<app-top-bar [titulo]="titlePage"></app-top-bar>
<div class="content">
    <div id="cadastro">
        <form method="post" action="">
            <h1>CREATE ACCOUNT</h1>

            <div class="input-group">
                <div class="input-box"> 
                    <label for="nome_cad">Full Name</label>
                    <input id="nome_cad" name="nome_cad" required="required" type="text" />
                </div>
    
                <div class="input-box"> 
                    <label for="nome_cad">Name Login</label>
                    <input id="nome_cad" name="nome_cad" required="required" type="text" />
                </div>
    
                <div class="input-box"> 
                    <label for="Document">Document</label>
                    <input id="Document" name="Document" required="required" type="text" />
                </div>
    
                <div class="input-box"> 
                    <label for="Birthday">  Date of Birthday</label>
                    <input id="Birthday" name="Birthday" required="required" type="date" />
                </div>
    
                <div class="input-box"> 
                    <label for="number">Phone</label>
                    <input id="number" name="number" required="required" type="tel" />
                </div>
                   
                <div class="input-box"> 
                    <label for="email_cad">E-mail</label>
                    <input id="email_cad" name="email_cad" required="required" type="email"/> 
                </div>
                   
                <div class="input-box"> 
                    <label for="password">Password</label>
                    <input id="password" name="password" required="required" type="password"/>          
                </div>
    
                <div class="input-box"> 
                    <label for="password">Confirm Password</label>
                    <input id="password" name="Confirmpassword" required="required" type="password"/>          
                </div>        
            </div>
            
            <div class="register-button"> 
               <button [routerLink]="['/']" type="submit">Cadastrar</button>
            </div>
            <p class="link">  
                Already have an account?
                <a [routerLink]="['login']"> Login </a>
           </p>
        </form>
    </div>
</div>     
            
