<app-top-bar [titulo]="titlePage"></app-top-bar>

<div id="cadastro">
            <h1>REGISTER ADDRESS</h1>
            <label for="radio">Login as:</label>      
            <div class="input-radio">       
                <input type="radio" name="user_type" [value]=true ngModel="isClient" (click)="change(true)"> Client
                <input type="radio" name="user_type" [value]=false ngModel="isClient" (click)="change(false)"> Owner
            </div>
            
            <div class="input-box2"> 
                <label for="Street">Street</label>
                <input  id="Street" name="Street" required="required" type="text" />
            </div>

            <div class="input-group">
                <div class="input-box"> 
                    <label for="State">State</label>
                    <input id="State" name="State" required="required" type="text" />
                </div>
                    
                <div class="input-box"> 
                    <label for="City">City</label>
                    <input id="City" name="City" required="required" type="text" />
                </div>
           
                <div class="input-box"> 
                    <label for="Country">Country</label>
                    <input id="Country" name="Country" required="required" type="text"/> 
                </div>
                   
                <div class="input-box"> 
                    <label for="Postal">Postal Code</label>
                    <input id="Postal" name="Postal" required="required" type="text"/>          
                </div>
                
            </div>
            <div class="register-button"> 
               <button (click)="registerAccount()" type="submit">Register</button>
            </div>
    </div>  
            
