<app-top-bar [titulo]="titlePage"></app-top-bar>
<div  class = "productsList">
    <div class = "productComponent" *ngFor="let product of products">
        <div>
            <img src="{{product.imgLink}}">
        </div>
        <div>
            <a [title]="product.name + 'details'"
            [routerLink]="['/product', product.id]" class="Product">
                {{product.name}}
            </a>
            <h1>{{product.price | currency}}</h1>
            <p>
                
            </p>    
        </div>  
    </div>
</div>